<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/game.png">
  </head>
  <body>
    <%- include('partials/header') %>
      <main>
        <h1>Delete the <%= selector %>: <%= deleteItem %> ?</h1>
        <form method="POST" autocomplete="off" action=<%= confirm %>>
          <label for="deletePass" class="deleteLabel">Type 'delete' to confirm deletion.</label>
          <br>
          <input type="text" class="deleteInput" name="deletePass" id="deletePass">
          <br>
          <span class="error"><%= pass %></span>
          <br>
          <span class="error">Warning: You will be deleting a <%= selector %>. Genres or platforms that contain no games will also be deleted.</span>
          <br>
          <button type="submit" class="btn-admin">Delete</button>
        </form>
      </main>
      <hr>
      <br>
      <a class="return" href="/">Return to Homepage</a>

      <%- include('partials/footer') %>
  </body>
</html>