<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/game.png">
  </head>
  <body>
    <%- include('partials/header') %>

    <main class="game-cont">
      <img class="game-img" src="<%= img_url %>">
      <div class="game-info">
        <div>
          <h1><%= gameTitle %></h1>
          <h2>Genre: <%= genre %></h2>
          <h2>Platform(s): <%= platform %></h2>
          <div class="game-id">Game ID: <%= gameId %></div>
        </div>

        <div class="btn-menu">
          <hr>
          <a href="/game/update/id?id=<%= gameId %>">
            <button class="btn-admin">Edit Game Details</button>
          </a>
          <a href="/game/delete/id?id=<%= gameId %>">
            <button class="btn-admin">Delete Game</button>
          </a>
        </div>
      </div>  
    </main>

    <a class="return"href="/">Return to Home Page</a>
    
    <%- include('partials/footer') %>
  </body>
</html>