<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/game.png">
</head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1>Platforms</h1>
      <div class="platforms-cont">
        <% platforms.forEach((platform) => { %>
          <a class="platform" href="/library?platform=<%= platform.platform_name %>">
            <%= platform.platform_name%>
          </a>
        <% }); %>
      </div>
      <hr>
      <h1>Genres</h1>
      <div class="genres-cont">
        <% genres.forEach((genre) => { %>
          <a class="genre" href="/library?genre=<%= genre.genre_name %>">
            <%= genre.genre_name %>
          </a>
        <% }); %>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>