<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
  <body>
    <h1>This is the index page</h1>
    <%- include('header') %>

    <main>
      <div class="platforms-cont">
        <h2>Platforms</h2>
        <ul class="list-platforms">
          <% platforms.forEach((platform) => { %>
            <li class="list-platform">
                <a class="platform" href="/library?platform=<%= platform.platform_name %>">
                    <%= platform.platform_name%>
                </a>
                <a href="/library/delete/platform?platform=<%= platform.platform_name %>" class="delete-platform">Delete</a>
            </li>
          <% }); %>
          <!-- <li class="list-platform">
            <a class="platform" href="/library?platform=Other">Other</a>
          </li> -->
        </ul>
      </div>

      <hr>
      <div class="genres-cont">
        <h2>Genres</h2>
        <ul class="list-genres">
          <% genres.forEach((genre) => { %>
            <li class="list-genre">
              <a class="genre" href="/library?genre=<%= genre.genre_name %>">
                <%= genre.genre_name %>
              </a>
              <!-- <a href="/library/delete/genre?genre=<%= genre.genre_name %>" class="delete-genre">Delete</a> -->
            </li>
          <% }); %>
            <!-- <li class="list-genre">
              <a class="genre" href="/library?genre=Other">Other</a>
            </li> -->
        </ul>

      </div>
    </main>

  </body>
</html>