<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/game.png">
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1 class="form-title">Update game details for <%= name %></h1>
      <br>
      <form method="POST" action="/game/update/<%= id %>">
          <label for="gameName">Game Title: </label>
          <input type="text" name="gameName" value="<%= name %>">
          <%- include('partials/customErrors', {errors: errors, selector: 'gameName' }) %>
          <br>
          <label for="gamePlatform">Platform(s): </label>
          <input type="text" name="gamePlatform" id="game-platform" value="<%= platform %>" placeholder="Separate multiple platforms with commas">
          <%- include('partials/customErrors', {errors: errors, selector: 'gamePlatform' }) %>
          <br>
          <label for="gameGenre">Genre: </label>
          <input type="text" name="gameGenre" value="<%= genre %>">
          <%- include('partials/customErrors', {errors: errors, selector: 'gameGenre' }) %>
          <br>
          <button id="add-game" type="submit">Save</button>
      </form>
    </main>
    <hr>
    <br>
    <a class="return" href="/">Return to Homepage</a>

    <%- include('partials/footer') %>
  </body>
</html>