<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  </head>
  <body>
    <form method="POST" class="form-update" action="/library/update/<%= id %" >
      <h1 class="form-title">Update Game Information</h1>
        <label for="gameName">Game Title: </label>
        <input type="text" name="gameName" value="<%= name %>">

        <label for="gamePlatform">Platform(s): </label>
        <input type="text" name="gamePlatform" value="<%= platform %>">

        <label for="gameGenre">Platform(s): </label>
        <input type="text" name="gameGenre" value="<%= genre %>">
    </form>
  </body>
</html>